<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome <%= participant.firstname %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Hello <%= participant.firstname %></h1>
    <p> FAN ID: <%= participant.fanId %></p>
    
        <% if (participant.fanId != null) { %>
            <p>You're a fan! </p>
        <% } else if (artistId != null){ %>
            <p> You're an artist!</p>
        <% } else { %>
            <p> You're an event place owner!</p>
        <% } %>
    <hr>
    <h1> Events happening near you</h1>

    <% if (participant.events == null) { %>
        <p> No events are happening soon! </p>
    <% } else { %>
        <% for(var i = 0; i < participant.events.length; i++){ %>
            <p> Event: <%= participant.events[i].name%>, <%= participant.events[i].description %> <a href="/event/<%= participant.events[i].EId %>/tickets">see tickets</a></p>
    <% }} %>
</body>
</html>